@import url('core-styles.css');
/* DO NOT ALTER ABOVE - MUST BE PRESENT FOR PROPER CHAINING */

/*======================
   02. Basic css
========================*/
html{
	font-size: 62.5%;
}
a, button, img{
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.18;
	font-family:"franklin-gothic-urw";
	color: #FFFFFF;
	font-weight: 400;
	font-size: 2.2rem;
}

ol,
ul {
	list-style: none;
}

a:hover {
	text-decoration: none;
}

button:focus,
a:focus,
input:focus,
textarea:focus{
	outline: none;
}

/* page loader  */
#preloader {
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	height: 100vh;
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.loader3 {
	width: 6.0rem;
	height: 6.0rem;
	display: inline-block;
	padding: .0rem;
	text-align: left;
}

.loader3 span {
	position: absolute;
	display: inline-block;
	width: 6.0rem;
	height: 6.0rem;
	border-radius: 100%;
	background: #f33737;
	-webkit-animation: loader3 1.5s linear infinite;
	animation: loader3 1.5s linear infinite;
}

.loader3 span:last-child {
	animation-delay: -0.9s;
	-webkit-animation-delay: -0.9s;
}

@keyframes loader3 {
  	0% {
    	-webkit-transform: scale(0, 0);
    	        transform: scale(0, 0);
    	opacity: 0.8;
  	}
  	100% {
    	-webkit-transform: scale(1, 1);
    	        transform: scale(1, 1);
    	opacity: 0;
  	}
}

@-webkit-keyframes loader3 {
  	0% {
    	-webkit-transform: scale(0, 0);
    	opacity: 0.8;
  	}
  	100% {
    	-webkit-transform: scale(1, 1);
    	opacity: 0;
  	}
}
/*Hamburger-menu START CSS*/
.hamburger-menu {
	cursor: pointer;
	display: none;
	z-index: 1133;
	width: 4.0rem;
	margin-left: auto;
	position: relative;
}
.hamburger-menu span {
	background: #fff;
	width: 100%;
	height: .35rem;
	display: block;
	margin: .8rem 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-radius: 0.5rem;
}
.hamburger-menu .line-top.current {
	-webkit-transform: translateY(1.15rem) rotate(135deg);
	-ms-transform: translateY(1.15rem) rotate(135deg);
	transform: translateY(1.15rem) rotate(135deg);
}
.hamburger-menu .line-center.current {
	opacity: 0;
}
.hamburger-menu .line-bottom.current {
	-webkit-transform: translateY(-1.15rem) rotate(-135deg);
	-ms-transform: translateY(-1.15rem) rotate(-135deg);
	transform: translateY(-1.15rem) rotate(-135deg);
}
/*headr top area*/
.headerline{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1025;
}
.header_top{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 8.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.h_content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.star_box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-right: 1.5rem;
}
.star_box img{
	max-width: 2rem;
}
.star_box p{
	font-size: 2.1rem;
	color: #ffde00;
	font-weight: 700;
	font-style: italic;
	font-family: 'Century Gothic';
	padding-left: .5rem;
}
.header_social_amin{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.contact_btn {
	width: 16.8rem;
	height: 4.7rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 4rem;
	margin-right: 1.2rem;
	background-image: -o-linear-gradient(114deg, rgba(237,28,36,1) 0%, rgba(255,192,0,1) 33%, rgba(7,137,106,1) 69%, rgba(51,146,212,1) 100%);
	background-image: linear-gradient(336deg, rgba(237,28,36,1) 0%, rgba(255,192,0,1) 33%, rgba(7,137,106,1) 69%, rgba(51,146,212,1) 100%);
}
.contact_btn a{
	background-color: #ed4524;
	padding: .7rem 1.5rem .8rem 1.5rem;
	border-radius: 4rem;
	font-size: 2.1rem;
	text-transform: uppercase;
	color: #fefefe;
	font-weight: 700;
	font-family: "Century Gothic";
	text-align: center;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.contact_btn a:hover{
	opacity: 0.9;
}
.header_social a img{
	max-width: 3.9rem;
}
.header_social a:hover img{
	opacity: 0.9;
}
.header_social a:last-child{
	display: inline-block;
	margin-left: .3rem;
}
header {
	width: 100%;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	padding: .9rem 0;
	background-image: -webkit-gradient(linear, left top, right top, from(#ed1b23), color-stop(0%, #ed1b23), color-stop(24%, #ffbf00), color-stop(54%, #00ca3d), color-stop(78%, #218fdc), to(#9f17b7));
	background-image: -o-linear-gradient(left, #ed1b23 0%, #ed1b23 0%, #ffbf00 24%, #00ca3d 54%, #218fdc 78%, #9f17b7 100%);
	background-image: linear-gradient(90deg, #ed1b23 0%, #ed1b23 0%, #ffbf00 24%, #00ca3d 54%, #218fdc 78%, #9f17b7 100%);
}
/*sticky START CSS*/
header.sticky {
   -webkit-box-shadow: 0 .8rem 2.0rem 0 rgba(0, 0, 0, .1);
   box-shadow: 0 .8rem 2.0rem 0 rgba(0, 0, 0, .1);
}
.logo{
	position: relative;
}
.logo img {
	position: absolute;
	z-index: 111;
	max-width: 21.9rem;
	-webkit-filter: drop-shadow(0 0 6.5px rgba(23,23,24,0.71));
	        filter: drop-shadow(0 0 6.5px rgba(23,23,24,0.71));
	top: -9rem;
	left: 0px;
}
#menu {
	text-align: right;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
#menu li {
	display: inline-block;
	margin-right: 4rem;
}
#menu li:last-child{
	margin-right: 0;
}
#menu li a {
	font-size: 2.7rem;
	text-transform: uppercase;
	color: #fefefe;
	font-weight: 700;
	font-family: 'WigwagW01';
	text-align: center;
	padding: 0;
}
#menu li a.active,
#menu li a:hover {
	color: #ed4524;
}

/*hero area*/
.hero_item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 79.75rem;
}
.shape_box{
	position: relative;
	height: 79.75rem;
}
.shape_box img {
	max-width: 45.1rem;
	position: absolute;
	right: 0;
	bottom: 6.5rem;
	-webkit-filter: drop-shadow(2.121px 2.121px 17.5px rgba(23,23,24,0.83));
	        filter: drop-shadow(2.121px 2.121px 17.5px rgba(23,23,24,0.83));
}
.shape_box1 img{
	right: auto;
	left: 0;
}
.owl-next{
	position: absolute;
	background-color: transparent;
	right: -.5rem;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.owl-next img{
	max-width: 9.7rem;
}
.owl-prev{
	position: absolute;
	background-color: transparent;
	left: -.5rem;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.owl-dots{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	bottom: 1.2rem;
}
.owl-dot{
	width: 1.8rem;
	height: 1.8rem;
	border-radius: .9rem;
	background-color: #dadada;
	margin-right: 2rem;
}
.owl-dot:last-child{
	margin-right: 0;
}
.owl-dot.active{
	background-color: #fff;
}
/*card area*/
.card_wrapper{
	background-color: #3f3f97;
	padding-bottom: 3rem;
}
.card_box {
    margin-top: 3rem;
    position: relative;
    z-index: 1;
    transition: 0.4s;
    overflow: hidden;
    border-radius: 1.5rem;
    background-image: linear-gradient(350deg, rgba(237,28,36,1) 0%, rgba(255,192,0,1) 33%, rgba(7,137,106,1) 69%, rgba(51,146,212,1) 100%);
    padding: .5rem .5rem .6rem .5rem;
    cursor: pointer;
}
.card_img{
	position: relative;
}
/*.card_img::before{
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
   background-image: linear-gradient(168deg, #ed1c24 0%, #ed1c24 0%, #ffc000 24%, #07896a 54%, #3392d4 78%, #763082 100%);
   left: 0;
   top: 0;
   opacity: 0;
   transition: 0.4s;
   border-radius: 1.5rem;
}*/
.c1_1{
	display: none;
}
.card_img:hover .c1{
	display: none;
}
.card_img:hover .c1_1{
	display: block;
}
.card_box a{
	display: inline-block;
	font-size: 5rem;
	line-height: 1;
	text-transform: uppercase;
	color: #fefefe;
	font-weight: 700;
	font-family: 'WigwagW01';
	text-align: center;
	background-image: -o-linear-gradient(114deg, rgba(237,28,36,1) 0%, rgba(255,192,0,1) 33%, rgba(7,137,106,1) 69%, rgba(51,146,212,1) 100%);
	background-image: linear-gradient(336deg, rgba(237,28,36,1) 0%, rgba(255,192,0,1) 33%, rgba(7,137,106,1) 69%, rgba(51,146,212,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-stroke: .8rem transparent;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	bottom: 1rem;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.card_box a:hover{
	opacity: 0.9;
}

/*about area*/
.about_wrapper{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 2.3rem 0;
}
.about_content h3{
	opacity: 0.702;
	font-size: 2.6rem;
	line-height: 1;
	text-transform: uppercase;
	color: #fefefe;
	font-weight: 700;
	font-family: "Century Gothic";
	padding-bottom: 1rem;
}
.about_content img{
	max-width: 31.2rem;
	margin-bottom: 1rem;
}
.about_content p{
	font-size: 1.9rem;
	color: #fefefe;
	font-family: "Century Gothic";
	padding-top: 2rem;
}
.about_img{
	position: relative;
}
.a2_img {
	position: absolute;
	bottom: -.9rem;
	right: -9.9rem;
	-webkit-filter: drop-shadow(0 0 5.5px rgba(23,23,24,0.45));
	        filter: drop-shadow(0 0 5.5px rgba(23,23,24,0.45));
	max-width: 30.7rem;
}
.about_content .contact_btn {
    background: -o-linear-gradient(93deg, rgba(237,28,36,1) 0%, rgba(255,192,0,1) 33%, rgba(7,137,106,1) 69%, rgba(63,63,151,1) 88%, rgba(118,48,130,1) 100%);
    background: linear-gradient(357deg, rgba(237,28,36,1) 0%, rgba(255,192,0,1) 33%, rgba(7,137,106,1) 69%, rgba(63,63,151,1) 88%, rgba(118,48,130,1) 100%);
    width: 30.8rem;
    margin-top: 2rem;
}
.about_content .contact_btn a{
	background-color: #fff602;
	font-size: 2.1rem;
	text-transform: uppercase;
	color: #3f3f97;
	font-weight: 700;
	font-family: "Century Gothic";
	text-align: center;
	padding: .8rem 1.8rem;
}
.about_content .contact_btn a:hover{
	opacity: 0.85;
}
/*product slider area*/
.product_slider_wrpper{
	background-image: -o-linear-gradient(1deg, #ed1b23 0%, #ed1b23 0%, #ffbf00 100%);
	background-image: linear-gradient(89deg, #ed1b23 0%, #ed1b23 0%, #ffbf00 100%);
	padding: 1.2rem 0;
}
.product_img{
	overflow: hidden;
	border-radius: 1.5rem;
	border: .4rem solid #fff;
}
/*footer area*/
.footer_wrapper{
	background-color: #3f3f97;
	padding: 2rem 0 1.5rem;
}
.footer_left{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer_logo{
	margin-right: 3rem;
}
.footer_logo a img{
	max-width: 15.1rem;
}
.footer_address h4{
	font-weight: 700 !important;
	padding-bottom: .8rem;
}
.footer_address p{
	padding-bottom: .5rem;
}
.footer_address h4,
.footer_address p,
.footer_address a{
	font-size: 1.7rem;
	color: #fff;
	line-height: 1.25;
	font-family: "Century Gothic";
	font-weight: 400;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.footer_address a:hover{
	color: #ed4524;
}
.footer_socail{
	text-align: right;
}
.footer_socail h3{
	font-size: 2.1rem;
	line-height: 1.23;
	text-transform: uppercase;
	color: #f7f6f5;
	font-weight: 700;
	font-family: 'WigwagW01';
}
.footer_socail ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding-top: 1.2rem;
}
.footer_socail ul li{
	margin-right: 1.1rem;
}
.footer_socail ul li:last-child{
	margin-right: 0;
}
.footer_socail ul li a img{
	max-width: 4rem;
}
.footer_socail ul li a:hover img{
	opacity: 0.8;
}
.footer_wrapper1{
	background-image: -webkit-gradient(linear, left top, right top, from(#ed1b23), color-stop(0%, #ed1b23), color-stop(24%, #ffbf00), color-stop(54%, #00ca3d), color-stop(78%, #218fdc), to(#9f17b7));
	background-image: -o-linear-gradient(left, #ed1b23 0%, #ed1b23 0%, #ffbf00 24%, #00ca3d 54%, #218fdc 78%, #9f17b7 100%);
	background-image: linear-gradient(90deg, #ed1b23 0%, #ed1b23 0%, #ffbf00 24%, #00ca3d 54%, #218fdc 78%, #9f17b7 100%);
	padding: .5rem 0;
}
.footer_wrapper1 p{
	opacity: 0.800;
	font-size: 1.2rem;
	line-height: 1.3;
	color: #000000;
	font-family: "Century Gothic";
	font-weight: 700;
	text-align: center;
}